<div class="main">
  <div class="div-background">

  </div>
  <mat-card class="register">
    
   @switch (role) {
    @case ("candidate") {
      works
      <app-register-candidate></app-register-candidate>
    }
    @case ("recruiter") {
      <app-register-recruiter></app-register-recruiter>
    }
    @case ("admin") {
      <app-register-admin></app-register-admin>
    } 
     @case ("manager") {
      <app-register-manager></app-register-manager>
    }
    @default {
      <div class="error">
       <span > Select a role for this account :</span>
        <mat-form-field>
          <mat-label >Role</mat-label>
          <mat-select [(ngModel)]="role">
          <mat-option value="admin">Administrator</mat-option>
          <mat-option value="manager">Manager</mat-option>
          <mat-option value="recruiter">Recruiter</mat-option>
          <mat-option value="candidate">Candidate</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    }
   }
  </mat-card>
</div>
