<div class="main">
    <mat-card class="content">
       
        <div class="title item">
            <h1>{{jd.title}}</h1>
        </div>
        <div class="item description">
          
            <div class="desc">
                   <h2>Summary: </h2>
                   <p>{{jd.summary}}</p>
                   <h2>Quallifications: </h2>
                   <p>{{jd.skillsQualifications}}</p>
                   <h2>Key Responsabilities :</h2>
                   @for (resp of jd.responsibilities; track jd.title) {
                    <p>{{resp}}</p>
                  } @empty {
                    Empty list of responsibilities
                  }
                  <h2>Salary :</h2>
                  <p>{{jd.salary}}</p>
            </div>
        </div>
        <div class="item check">
           <div class="jd">
            <input type="checkbox" id="check">
            <label for="check"> I've read JD</label>
            <input type="checkbox" id="gdpr">
            <label for="gdpr"> I've read gdpr</label>
           </div>
           
        </div>
      
        
            <button (click)="onApply()" class="item button" mat-button color="primary"> Apply</button>
    </mat-card>
</div>