.main{
    height: 100%;
    min-width: 100%;
    display:grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    .content{
        grid-column: 2;
        grid-row: 2;
        height: 100%;
        display: grid;
        grid-template-columns:3fr 1fr  ;
        grid-template-rows:0.1fr 1fr 0.1fr ;
        .message{
            grid-row: 2;
            grid-column: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            overflow:hidden;
            font-size: small;
            border-right: 1px solid rgb(60, 232, 255);
            font-family: "URW Chancery L, cursive";
            

        }
        .close{
            grid-row: 2;
            grid-column: 2;
           
            display: flex;            
            align-items: center;
            justify-content: center;
            color:  rgb(18, 130, 145);;
        }:hover{
            color: black;
        }

    }
}
.main:hover{
    background-color: rgba(0, 0, 0, 0.062);
}